<div>
    <h1>Datos personales</h1>

    <ul>
        <li>Nombre: {{user.name}}</li>
        <li>Apellido: {{user.lastname}}</li>
        <li>Edad: {{user.age}}</li>
        <li>Email: {{user.email}}</li>
        <li>Telefono: {{user.phone}}</li>
    </ul>
</div>